main {
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: white;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.btn {
  text-transform: uppercase;
  border: none;
  font-weight: 600;
}

.btn:focus {
  box-shadow: none;
}
